<ion-view view-title="FBS Overview">
    <ion-content class="padding">
        <button class="button button-block button-calm" ng-click="gotoOrders()" ng-show="role == 'Sales' || role == 'Manager'">Orders</button>
        <button class="button button-block button-calm" ng-click="gotoArticles()" ng-show="role == 'Sales' || role == 'Datatypist'">Articles</button>
        <button class="button button-block button-calm" ng-click="gotoUsers()" ng-show="role == 'Administrator'">Users</button>
    </ion-content>
</ion-view>

